<ng-progress
[positionUsing]="'marginLeft'"
[direction]="'leftToRightIncreased'"
[color]="'#fff'"
[trickleSpeed]="1000" 
[thick]="true" 
[ease]="'linear'"
></ng-progress>

<div class="row contact-row-1">
  <div class="container">
    <h1 class="wow fadeInDown">L'art de savoir faire et d'être</h1>
  </div>
</div>

<div class="row contact-row-2">
  <div class="container">
    <div class="col l12 m12  s12">
      <h4 class="wow fadeInUp" data-wow-duration="500ms">Rendez nous visites</h4>
      <p>
        Votre restaurant <span>La brise</span>, vous propose ses services en terme de 
        restauration, reception d'évènement et de distraction. A travers un service 
        dynamique, compétent et attentif à toutes vos attentes, nous vous procuront 
        un service de qualité rarement inégalable.
      </p>
    </div>
  </div>
</div>

<div class="row contact-row-3">
  <div class="container">
    <div class="col l4 m6 s12 c-r-3-left">
      <h6>Ou nous trouvez</h6>
      <p class="first-p">
        Nous nous situons à Yamoussoukro au quartier énergie. 
        Nous disposons d'une grande capacité d'accueil ainsi 
        que d'un service suivant vos différents désirs.
      </p>
      <p class="detail-contact">
          <i class="fa fa-phone"></i>
          +225 30642182 | 07015648
      </p>
      <p class="detail-contact">
          <i class="fa fa-envelope"></i>
          kindagabi@gmail.com
      </p>
      <p class="detail-contact">
          <i class="fa fa-calendar"></i>
          Tous les jours - entre 6h00 et 24h00
      </p>
    </div>
    <div class="col l8 m6 s12 c-r-3-right">
      <!--<form action="" method="post" class="contact-form">
        <div class="row">
            <div class="input-field col l6 m6 s12">
                <input  id="nom" type="text"  autocomplete="off" required>
                <label for="nom" class="label-form">Nom</label>
            </div>
            <div class="input-field col l6 m6 s12">
                <input  id="email" type="email"  autocomplete="off" required>
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l12 m12 s12">
                <textarea id="msg" class="materialize-textarea" autocomplete="off" required></textarea>
                <label for="msg">Message</label>
            </div>
        </div>
        <div class="row">
            <button type="submit"  class="btn waves-effect grey darken-4 pull-right send-btn">Envoyer</button>
        </div>
      </form>-->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.6150025501056!2d-5.285250285101829!3d6.816592495073323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfb89130a0400d29%3A0x1d48dc83966754d6!2sRestaurant+la+Brise!5e0!3m2!1sfr!2sci!4v1520275630490" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="row contact-row-4">
  <div class="container">
    <div class="col l7 m6 s12 c-r-4-left">
      <img src="../../assets/images/back-img2.jpg" alt="">
    </div>
    <div class="col l5 m6 s12 c-r-4-right">
      <h6 class="wow fadeIn">La perfection</h6>
      <h5 class="wow fadeInRight" data-wow-duration="400ms">Le séjour des grands Hommes</h5>
      <p>
        Venez gouter aux saveurs de nos recettes. Notre menu est parfaitement
         adapté à toutes vos attentes.
      </p>
    </div>
  </div>
</div>