<!-- footer -->
<footer class="page-footer home-footer">
  <div class="container">
      <div class="row">
          <div class="col l4 m4 s12 fs1">
              <div class="fs1-l1 fs1-bloc "><i class="fa fa-map-marker"></i></div>
              <div class="fs1-l2 fs1-bloc ">
                  <h6>Retrouvrez nous</h6>
              </div>
              <div class="fs1-l3 fs1-bloc ">
                <p>Côte d'Ivoire,Yamoussoukro - quartier energie</p>
              </div>
          </div>
          <div class="col l4 m4 s12 fs1">
                <div class="fs1-l1 fs1-bloc "><i class="fa fa-phone"></i></div>
                <div class="fs1-l2 fs1-bloc ">
                    <h6>Contactez nous</h6>
                </div>
                <div class="fs1-l3 fs1-bloc ">
                  <p>+225 30642182 | 07015648, kindagabi@gmail.com</p>
                </div>
            </div>
            <div class="col l4 m4 s12 fs1">
                    <div class="fs1-l1 fs1-bloc "><i class="fa fa-calendar"></i></div>
                    <div class="fs1-l2 fs1-bloc ">
                        <h6>Visitez nous</h6>
                    </div>
                    <div class="fs1-l3 fs1-bloc ">
                      <p>Tous les jours - entre 6h00 et 24h00</p>
                      
                    </div>
                </div>
      </div>
  </div>
  <div class="footer-copyright fs3">
      <div class="container">
          <span>&copy; {{copyright}} LaBrise</span>
          <a class="grey-text text-lighten-4 right" >Powered by Ocean Tweenty-One</a>
      </div>
  </div>
</footer>
<!--// footer -->