<div class="row index-menu" id="navbar-top">
	<div class="container">
		<div class="col l2 m3 s5">
			<a routerLink="home" class="index-menu-logo">
				<img src="../assets/images/logo-one-white.gif">
			</a>
		</div>
		<div class="col l9 offset-l1 m1 offset-m8 s2 offset-s4">
			<nav class="index-menu-right">
			    <div class="nav-wrapper">
			    	<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-reorder"></i></a>
				      <ul id="nav-mobile" class="right hide-on-med-and-down">
				        <li><a routerLink="home">Accueil</a></li>
								<li><a routerLink="menu">Menus</a></li>
								<li><a routerLink="bar">Bar</a></li>
								<li><a routerLink="special">Special</a></li>
				        <li><a routerLink="contact">Contact</a></li>
				        <li><a routerLink="gallerie">Gallerie</a></li>
				        <li><a routerLink="event">Evènements</a></li>
				      </ul>
				      <ul class="side-nav" id="mobile-demo">
								<h1>La Brise</h1>
				        <li><a routerLink="home">Accueil</a></li>
								<li><a routerLink="menu">Menu</a></li>
								<li><a routerLink="bar">Bar</a></li>
								<li><a routerLink="special">Special</a></li>
								<li><a routerLink="contact">Contact</a></li>
								<li><a routerLink="gallerie">Gallerie</a></li>
								<li><a routerLink="event">Evènements</a></li>
				      </ul>
			    </div>
			</nav>
		</div>
	</div>
	<div class="clear"></div>
</div>

