<ng-progress
[positionUsing]="'marginLeft'"
[direction]="'leftToRightIncreased'"
[color]="'#fff'"
[trickleSpeed]="1000" 
[thick]="true" 
[ease]="'linear'"
></ng-progress>

<div class="row special-row-1">
  <div class="container">
    <h1 class="wow fadeIn" data-wow-delay="0.4s">Profitez de nos Suggestions</h1>
  </div>
</div>

<div class="row special-row-2">
  <h1 class="wow fadeInUp" data-wow-duration="600ms">Special Dimanche midi</h1>
  <h3 class="wow fadeInUp" data-wow-duration="600ms" data-wow-delay="0.4s">Découvrez notre menu spécial du jour </h3>
</div>

<div class="row special-row-3">
  <div class="col l4 m4 s12 sig sig-first">
    <h1 class="wow fadeIn" data-wow-duration="600ms">Restaurant</h1>
  </div>
  <div class="col l8 m8 s12 sig">
    <h1 class="wow fadeIn" data-wow-duration="600ms">La Brise</h1>
  </div>
</div>

<div class="row special-row-4">
    <div class="col l6 m12 s12 special-row-4-left">
      <div class="col l12 m12 s12 special-row-4-bloc wow fadeIn" data-wow-duration="600ms">
        <div class="col l3 offset-l1 m3 offset-m1 s5 special-row-4-c1">
          <img src="../../assets/images/back-img27.jpg">
        </div>
        <div class="col l6 offset-l1 m6 offset-m2 s7 special-row-4-c2">
          <h3>Couscous Royal ou Marocain</h3>
          <h4>4000Frcs par personne</h4>
        </div>
      </div>
      <div class="col l12 m12 s12 special-row-4-bloc wow fadeIn" data-wow-duration="600ms">
        <div class="col l6 offset-l1 m6 offset-m2 s7 special-row-4-c2 " >
          <h3>Mâchoirons Piqué</h3>
          <h4>Exigez votre machoiron piqué chaud assaisonné à souhait</h4>
          <h4>8000Frcs | 9000Frcs | 10000Frcs | 11000Frcs | 12000Frcs</h4>
          <h5>NB: Disponible que les soirs</h5>
        </div>
        <div class="col l3 offset-l1 m3 offset-m1 s5 special-row-4-c1">
          <img src="../../assets/images/back-img29.jpg">
        </div>
      </div>
      <div class="col l12 m12 s12 special-row-4-bloc wow fadeIn" data-wow-duration="600ms">
        <div class="col l3 offset-l1 m3 offset-m1 s5 special-row-4-c1">
          <img src="../../assets/images/back-img20.jpg">
        </div>
        <div class="col l6 offset-l1 m6 offset-m2 s7 special-row-4-c2">
          <h3>Lapin Braisé</h3>
          <h4>20000Frcs</h4>
        </div>
      </div>
    </div>
    <div class="col l6 m12 s12 special-row-4-right ">
        <img src="../../assets/images/back-img31.jpg">
    </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="../../assets/images/back-img32.jpg"></div>
  <div class="container">
    <h2 class="pr-h2">Service de première classe</h2>
  </div>
</div>