<ng-progress [positionUsing]="'marginLeft'" [direction]="'leftToRightIncreased'" [color]="'#fff'" [trickleSpeed]="1000" [thick]="true"
  [ease]="'linear'"></ng-progress>

<div class="row event-row-1">
  <div class="container">
    <h1 class="wow fadeInDown">Evènementiel</h1>
  </div>
</div>

<div class="row event-row-2">
  <div class="container">
    <h4 class="wow fadeInDown">Retrouvez en tous temps nos évènements</h4>
  </div>
</div>

<div class="row event-row-3">
  <div class="container">
    <div class="col l5 m5 s12 events-titles">
      <div class="events-titles-inner">
        <h2>La Brise</h2>
        <h5>Evènements</h5>
        <div class="eti-el">
          <div class="eti-el-bloc">
            <h3>
              <a href="">
                <img src="../../assets/images/pins.png" alt="pins"> Diner gala rotaric club Yamoussoukro
              </a>
            </h3>
            <h3>
              <a href="">
                <img src="../../assets/images/pins.png" alt="pins"> Réception après réunion
              </a>
            </h3>
            <h3>
              <a href="">
                <img src="../../assets/images/pins.png" alt="pins"> Soirée détente
              </a>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col l7 m7 s12 events">
      <div class="all-events">
        <div class="col l4 m4 s12 events-bloc">
          <a href="">
            <h5>Diner Gala</h5>
            <h6>10/05/2017</h6>
            <img src="../../assets/images/back-img32.jpg" alt="Image evenement">
          </a>
        </div>
        <div class="col l4 m4 s12 events-bloc">
          <a href="">
            <h5>Reception Rotary Club</h5>
            <h6>10/05/2017</h6>
            <img src="../../assets/images/back-img32.jpg" alt="Image evenement">
          </a>
        </div>
        <div class="col l4 m4 s12 events-bloc">
          <a href="">
            <h5>Soirée détente</h5>
            <h6>10/05/2017</h6>
            <img src="../../assets/images/back-img32.jpg" alt="Image evenement">
          </a>
        </div>
        <div class="clear"></div>
      </div>
      <div class="event-details">
        <h5>
          <a href="">
              <img src="../../assets/images/pins-left.png" alt="pins">
          </a>
        </h5>
        <h4>Diner gala rotariic club Yamoussoukro</h4>
        <h6>10/08/2017</h6>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo numquam vel beatae saepe voluptate eius error? Qui, enim distinctio vero, hic deleniti porro nisi omnis modi neque at similique vitae?
        </p>
        <div class="col l4 m4 s12 event-details-img-bloc">
            <img src="../assets/images/g1.jpg" alt="Details image">
        </div>
        <div class="col l4 m4 s12 event-details-img-bloc">
            <img src="../assets/images/g1.jpg" alt="Details image">
        </div>
        <div class="col l4 m4 s12 event-details-img-bloc">
            <img src="../assets/images/g1.jpg" alt="Details image">
        </div>
        <div class="col l4 m4 s12 event-details-img-bloc">
            <img src="../assets/images/g1.jpg" alt="Details image">
        </div>
        <div class="col l4 m4 s12 event-details-img-bloc">
            <img src="../assets/images/g1.jpg" alt="Details image">
        </div>
        <div class="col l4 m4 s12 event-details-img-bloc">
            <img src="../assets/images/g1.jpg" alt="Details image">
        </div>
      </div>
    </div>
  </div>
</div>
