<ng-progress [positionUsing]="'marginLeft'" [direction]="'leftToRightIncreased'" [color]="'#fff'" [trickleSpeed]="1000" [thick]="true"
  [ease]="'linear'"></ng-progress>

<div class="row event-row-1">
  <div class="container">
    <h1 class="wow fadeInDown">Evènementiel</h1>
  </div>
</div>

<div class="row event-row-2">
  <div class="container">
    <h4 class="wow fadeInDown">Retrouvez en tous temps nos évènements</h4>
  </div>
</div>

<div class="row event-row-3">
  <div class="container">
    <div class="col l5 m5 s12 events-titles">
      <div class="events-titles-inner">
        <h2>La Brise</h2>
        <h5>Evènements</h5>
        <div class="eti-el">
          <div class="eti-el-bloc wow fadeIn" data-wow-iteration="200ms" *ngFor="let events of evenements;let i = index">
              <h3 (click)="showEventDetail(i)">
                  <a>
                    <img src="../../assets/images/pins.png" alt="pins">{{events.titre}}
                  </a>
                </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col l7 m7 s12 events">
      <div class="all-events" *ngIf="!toggleView" [@moveIn]>
          <div class="col l4 m4 s12 events-bloc" *ngFor="let events of evenements; let i = index" (click)="showEventDetail(i)">
              <a>
                <h5>{{events.titre}}</h5>
                <h6>{{events.date}}</h6>
                <img src="../../assets/images/back-img32.jpg" alt="Image evenement">
              </a>
            </div>
        <div class="clear"></div>
      </div>
      <div class="event-details wow fadeIn" *ngIf="toggleView">
        <h5 (click)="closePanel()" class="close-panel-btn">
          <a>
              <img src="../../assets/images/pins-left.png" alt="pins">
          </a>
        </h5>
        <h4>{{eventDetails.titre}}</h4>
        <h6>{{eventDetails.date}}</h6>
        <p>
          {{eventDetails.content}}
        </p>
        <div class="col l4 m4 s12 event-details-img-bloc">
            <img src="../assets/images/g1.jpg" alt="Details image">
        </div>
        <div class="col l4 m4 s12 event-details-img-bloc">
            <img src="../assets/images/g1.jpg" alt="Details image">
        </div>
        <div class="col l4 m4 s12 event-details-img-bloc">
            <img src="../assets/images/g1.jpg" alt="Details image">
        </div>
        <div class="col l4 m4 s12 event-details-img-bloc">
            <img src="../assets/images/g1.jpg" alt="Details image">
        </div>
        <div class="col l4 m4 s12 event-details-img-bloc">
            <img src="../assets/images/g1.jpg" alt="Details image">
        </div>
        <div class="col l4 m4 s12 event-details-img-bloc">
            <img src="../assets/images/g1.jpg" alt="Details image">
        </div>
      </div>
    </div>
  </div>
</div>
