/* event-row-1 */
.event-row-1{
    margin-top: -100px;
    margin-bottom: 0;
    padding-top: 299px;
    padding-bottom: 305px;
    background: url('../../../assets/images/event.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media only screen  and (max-device-width : 375px) {
    div.row.event-row-1{
        padding-top: 273px;
        padding-bottom: 201px;
        background: url('../../../assets/images/event1_phone.jpg');
        background-attachment: fixed;
    }

    .event-row-1 h1{
        font-size: 3em !important;
    }
}

.event-row-1 h1{
    margin-bottom: 0;
    color: #fff;
    font-size: 6em;
    font-weight: bolder;
    text-align: center;
    text-transform:uppercase;
}

.event-row-1 h1 > span{
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: 400;
    font-size: 1em;
    color: #bd4bdf;
}
/* // event-row-1 */

/* event-row 2 */
.event-row-2{
    margin: 0;
    margin-bottom: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #efefef;
}

.event-row-2 h4{
    margin: 0;
    font-size:  2em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

/*// event-row 2 */

/* event-row-3 */
.event-row-3 a:hover{
    cursor: pointer;
}

.event-row-3 .event-left{
    padding: 0;
}

.event-row-3 .event-left-content{
    position: relative;
    width: 100%;

}

.event-row-3 .event-left-content img{
    display: block;
    width: 100%;
}

.event-row-3 .event-left-content .elc-hover{
    position: absolute;
    padding: 40px 20px;
    width: 60%;
    height: 100%;
    background: rgb(0,0,0,0.5);
    top: 0;
    left: 0;
    bottom: 0;
}

.event-row-3 .event-left-content .elc-hover h4{
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}

.event-row-3 .event-left-content .elc-hover h4:hover{
    text-decoration: underline;
}

.event-row-3 .event-left-content .elc-hover h4 span{
    font-weight: 300;
}

.event-row-3 .event-left-content .elc-hover p{
    color: #fff;
    font-weight: 300;
}




.event-right-bloc{
    margin-bottom: 20px;
}


.event-right-bloc div{
    float: left;
}

@media only screen  and (max-device-width : 375px) {
    .event-right-bloc{
        margin-top: 25px;
        padding: 0;
    }
}

@media only screen  and (max-device-width : 992px)  {
    .event-right{
        margin-top: 25px;
        padding: 0;
    }

    .event-right-bloc{
        padding: 0;
    }

}

.event-right-bloc .erb-content-left{
    width: 50%;
    height: 196px;
    overflow: hidden;
    position: relative;
}

.event-right-bloc .erb-content-left a{
    padding-top: 84px;
    padding-bottom: 84px;
    background: rgb(0,0,0,0.5);
    display: block;
    position: absolute;
    top: -202px;
    width: 100%;
}

.event-right-bloc .erb-content-left a > img{
    margin: auto;
    display: block;
    width: 18%;
}

.event-right-bloc .erb-content-left img{
    display: block;
    width: 100%;
}

.event-right-bloc .erb-content-right{
    margin-left: 10px;
    width: 40%;
}

.event-right-bloc .erb-content-right h4:hover{
    text-decoration: underline;
}

.event-right-bloc .erb-content-right h4{
    margin-top: 0;
    color: rgb(77, 3, 58);
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
}

.event-right-bloc .erb-content-right h4 span{
    font-weight: 300;
}

.event-right-bloc .erb-content-right p{
    font-weight: 300;
    font-size: 14px;
}

/* //event-row-3 */

/* event-row-4 */
.back-btn{
    color: rebeccapurple;
}

.back-btn:hover{
    color: #9b9999;
    transition: 500ms;
    cursor: pointer;
}


.event-row-4 .event-row-4-content-one{
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 400px;
}

.event-row-4 .event-row-4-content-one img{
    width: 100%;
}

.event-row-4 .event-row-4-content-one .er4co-hover{
    padding: 40px 50px;
    position: absolute;
    width: 50%;
    background: rgb(228, 222, 222);
    top: 0;
    left: 0;
    bottom: 0;
}

@media only screen  and (max-device-width : 375px) {
    .event-row-4 .event-row-4-content-one{
        height: 216px;
    }

    .event-row-4 .event-row-4-content-one .er4co-hover{
        padding: 2px 12px;
    }

    .event-row-4 .event-row-4-content-one .er4co-hover h2{
        font-size: 12px !important;
    }

    .event-row-4 .event-row-4-content-one .er4co-hover p{
        font-size: 13px !important;
    }
}



.event-row-4 .event-row-4-content-one .er4co-hover h2{
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
}

.event-row-4 .event-row-4-content-one .er4co-hover p{
    font-size: 18px;
    font-weight: 300;
}

.event-row-4-content-two{
    padding: 0;
}

.event-row-4-content-two-img-bloc{
    padding: 0;
}

.event-row-4-content-two-img-bloc img{
    width: 100%;
}

.event-row-4-content-two-img-bloc img:hover{
    cursor: default;
}

/* // event-row-4 */

/* event-row-5 */
.event-row-5{
    margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    background: url('../../../assets/images/background1.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.event-row-5 .event-row-5-one img{
    width: 100%;
}

.event-row-5 .event-row-5-two h2{
    font-size: 2em;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

.event-row-5 .event-row-5-two h2 span{
    text-transform: capitalize;
    font-weight: 300;
}

/* // event-row-5 */